<h1>Editar <%= @center.name %></h1>

<%= form_with(model: @center, method: :patch, url: centers_update_path(:id => @center.id)) do |form| %>
    <div>
        <%= form.label :Nombre_del_centro%>
        <%= form.text_field :name%>
    </div>
    <div>
        <%= form.label :Dirección%>
        <%= form.text_field :location%>
    </div>
    <div>
        <%= form.submit 'Actualizar'%>
    </div>
<% end %>

<button><%= link_to 'Volver a centros', centers_index_path %></button>