<h1>Nombre <%= @center.name %></h1>

<div class='flex flex-col items-center justify-center'>
    <p>Ubicación: <%= @center.location %><p>

    <button><%= button_to 'Eliminar', centers_delete_path(:id => @center.id), method: :delete %></button>
    <button><%= link_to 'Editar', centers_edit_path(:id => @center.id) %></button>
    <button><%= link_to 'Volver', centers_index_path %></button>
</div>