<div class="flex flex-col justify-center items-center">
  <!--Nav-->
  <nav id="header" class="bg-blue-700 fixed w-full z-30 top-0 text-white">
    <div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 py-2">
      <div class="pl-4 flex items-center">
        <%= link_to 'SicoApp', centers_index_path, class: 'no-underline hover:no-underline hover:text-white font-bold text-2xl lg:text-4xl' %>
      </div>
      <div class="block lg:hidden pr-4">
        <button id="nav-toggle" class="flex items-center p-1 text-blue-100 hover:text-blue-500 focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
          <svg class="fill-current h-6 w-6" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <title>Menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
          </svg>
        </button>
      </div>
      <div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden mt-2 lg:mt-0 bg-white lg:bg-transparent text-black p-4 lg:p-0 z-20" id="nav-content">
        <ul class="list-reset lg:flex justify-end flex-1 items-center">
          <li class="hover:bg-blue-500 hover:rounded-md hover:text-black mr-3">
            <%=link_to 'Terapeutas', terapists_index_path, class: 'inline-block py-2 hover:text-blue-100 px-4 text-white no-underline' %>
          </li>
          <% if current_user %>
            <li class="hover:bg-blue-500 hover:rounded-md hover:text-black mr-3">
              <%=link_to 'Mi perfil', users_show_path(:id => current_user.id), class: 'inline-block py-2 hover:text-blue-100 px-4 text-white no-underline' %>
            </li>
            <li class="hover:bg-blue-500 hover:rounded-md hover:text-black mr-3">
              <%=button_to 'Cerrar sesión', destroy_user_session_path, method: :delete, class: 'inline-block py-2 hover:text-blue-100 px-4 text-white no-underline' %>
            </li>
          <% else %>
            <li class="hover:bg-blue-500 hover:rounded-md hover:text-black mr-3">
              <%=link_to 'Iniciar sesión', new_user_session_path, class: 'inline-block py-2 hover:text-blue-100 px-4 text-white no-underline' %>
            </li>
            <li class="hover:bg-blue-500 hover:rounded-md hover:text-black mr-3">
              <%=link_to 'Registro', new_user_registration_path, class: 'inline-block py-2 hover:text-blue-100 px-4 text-white no-underline' %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

  <!--Body of page-->
  <div class="bg-blue-100 w-full pt-40 pb-40">
    <div class="flex flex-col justify-center items-center">
      <section class="bg-blue-100 flex flex-col justify-center items-center">
        <h1 class="mb-10 text-4xl text-blue-900 font-bold">Agendar cita</h1>
        <%= form_with(model: @appointment, method: :post, class: 'mb-20 bg-blue-300 px-10 py-10 rounded-md') do |form| %>
          <div>
            <%= form.label :Centro, class: 'text-blue-900 text-lg' %><br>
            <%= form.select(:center, Center.all.collect {|c| [c.name, c.id] }, {prompt: "- Seleccionar centro - "}, { 
              onChange: "dropdown();",
              id: 'first', 
              class: 'mt-1 w-full bg-blue-600 text-base font-light text-white border-2 border-blue-600 rounded-lg'}) %>
          </div>
          <div class='mt-6'>
            <%= form.label :Terapeuta, class: 'text-blue-900 text-lg'%><br>
            <%= form.select(:terapist_id, Terapist.all.collect {|t| [t.name, t.id] }, {prompt: "- Seleccionar terapeuta - "}, {id: 'second', class: 'mt-1 w-full bg-blue-600 text-base font-light text-white border-2 border-blue-600 rounded-lg'})%>
          </div>
          <div class='mt-6'>
            <%= form.label :Fecha, class: 'text-blue-900 text-lg' %><br>
            <%= form.date_field :date, value: form.object.try(:strftime,"%m/%d/%Y"), onChange: 'filterHours();', id: 'dateForm', class: 'mt-1 w-full bg-blue-600 text-base font-light text-white border-2 border-blue-600 rounded-lg' %> 
          </div>
          <div class='mt-6'>
            <%= form.label :Hora, class: 'text-blue-900 text-lg' %><br>
            <%= form.select(:hour, 
                            ['- Seleccionar hora -'], 
                            {}, 
                            { id: 'hoursForm', :class => 'mt-1 w-full bg-blue-600 text-base font-light text-white border-2 border-blue-600 rounded-lg' }) 
            %>
          </div>
          <div class="mt-10 flex flex-col justify-center items-center">
            <%= form.submit 'Agendar', class: 'bg-blue-700 font-light text-white px-4 py-2 rounded-md hover:bg-blue-400 text-lg cursor-pointer'%>
          </div>
        <% end %>
        <button class='bg-blue-700 font-light text-white px-4 py-2 rounded-md hover:bg-blue-400 text-lg cursor-pointer'><%= link_to 'Volver', :back %><button>
      </section>
    </div>
  </div>
  
  <!--Footer-->
  <footer class="bg-sky-800 w-full">
    <div class="container mx-auto px-8 py-2">
      <h1 class="text-center text-base text-white font-light">Creado por Max Yáñez - Todos los derechos reservados®</h1>
    </div>
  </footer>
  <script type="text/javascript">
    function dropdown(){
      const centerID = document.getElementById('first');
      const secondForm = document.getElementById('second');
      var js_array = [<%= raw @terapists.to_json %>][0];
      var filterTerapists = js_array.filter(elem => elem.center_id == parseInt(centerID.value));
      while(secondForm.options.length > 0){
        secondForm.remove(0);
      }
      var count = 0;
      while (count < filterTerapists.length){
        var opt = document.createElement('option');
        opt.value = filterTerapists[count].id;
        opt.innerHTML = filterTerapists[count].name;
        secondForm.appendChild(opt); 
        count++;
      }
    }

    function filterHours(){
      // Add filter for terapist
      const terapistID = document.getElementById('second').value;
      const dateForm = document.getElementById('dateForm').value;
      const hourForm = document.getElementById('hoursForm');
      var js_array = [<%= raw @allcites.to_json %>][0];
      var filterAppointments = js_array.filter(elem => elem.date.slice(0, 10) == dateForm && elem.terapist_id == terapistID);
      var hoursAvailable = ['14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00'];
      var hoursNotAvailable = [];

      while(hourForm.options.length > 0){
        hourForm.remove(0);
      }

      var count = 0;
      while(count < hoursAvailable.length){
        var count2 = 0;
        while(count2 < filterAppointments.length){
          if (filterAppointments[count2].hour == hoursAvailable[count]){
            hoursNotAvailable.push(hoursAvailable[count]);
          }
          count2++;
        }
        count++;
      }
      
      var hoursReal = hoursAvailable.filter(elem => !hoursNotAvailable.includes(elem));
      var count3 = 0;
      while (count3 < hoursReal.length){
        var opt = document.createElement('option');
        opt.value = hoursReal[count3];
        opt.innerHTML = hoursReal[count3];
        hourForm.appendChild(opt); 
        count3++;
      }
    };
  </script>
</div>
